<% unless @posts.blank? %>
<ul class="search-results">
<div class="row search-container">
      <li><%= partial '/posts/post', collection:@posts  %></li>
</div>
</ul>
<% else %>
  <span class="no-results">
    <h1>Your search term rendered no results</h1>
  </span>
<%end%>
