<div class="recipe-container">
  <div class="recipe-title">
      <h2>
        <%= @recipe.title %>
    </h2>
  </div>
  
  <div class="recipe-image">
    <%= image_tag(@recipe.image) %>
  </div>
  
  <div class="recipe-ingredients">
    
    
    <h3>
        Ingredients
    </h3>
    <%=link_to("show steps", 
               url_for(:steps, :index, id: @recipe.id, format: :js), remote: true ) %>
    <div id="steps-container">
    </div>
    <%= simple_format(@recipe.ingredients) %>
  </div>
</div>
