<div class="recipe-container">
  <div class="recipe-title">
      <h2>
        <%= @recipe.title %>
    </h2>
  </div>
  
  <div class="recipe-image">
    <%= image_tag(@recipe.image) %>
  </div>
  
  <div class="recipe-ingredients">
    
    
    <h3>
        Ingredients
    </h3>

    <%= simple_format(@recipe.ingredients) %>
  </div>
</div>
<div id="steps-container">
    <%=link_to("show steps", 
               url(:steps, :index, id: @recipe.id, format: :js), remote: true ) %>
</div>
<script type="text/javascript">
$(function() { $('#steps-container' ).pjax('a'); });
</script>
