<div class="recipe-container">
  <div class="recipe-title">
      <h2>
        <%= @recipe.title %>
    </h2>
  </div>
  
  <div class="recipe-image">
    <%= image_tag(@recipe.image) %>
  </div>

  
  <div class="recipe-ingredients">
    
    
    <h3>
        Ingredients
    </h3>

    <%= simple_format(@recipe.ingredients) %>
  </div>
</div>
<div id="steps-container">
  <center>
    <%=link_to("show steps", 
               url(:steps, :index, id: @recipe.id, format: :js), remote: true, class:"steps-display" ) %>
</center>
</div>
<center>
  <button class="button-toggle button round" style="background:#cd0067">Toggle Steps</button>
</center>

<script type="text/javascript">
 $(function() { $('#steps-container' ).pjax('a'); });
$( "button" ).click(function() {
$( ".step-partial" ).toggle();
}
);
$(function () {
  $(".button-toggle").hide();
  $(".steps-display").click(function (e) {
    $(".button-toggle").show();
  });
});


</script>
