
<div class="comment-form">
  <!---------------------------------------------------if they are logged -->

  <% form_tag url_for(:comments, :create), 
    method: :post  do %>
    <p>
    <%= text_area_tag :comment, placeholder: "Please enter in your comment...",  html:{cols:"20", rows:"1"}%>
      </p>
      <%= hidden_field_tag :post_id, value: comment_form.id %>
      <%= hidden_field_tag :user_id, value: current_user.id %>

    <p class="comment-submit center"><%= submit_tag "Comment", class:"small button radius" %></p>
  <%end %>

</div>
