<%# _comment.erb  %>
<%#comments partial for bases/index  %>
<%=partial 'comments/comment_header', object:comment%>
<%#above in the header file for this partial  %>

  <ul class="comment-container center" id="comment" >
    <% comment.comments.reverse.each do |c| %>
     <li class="comment-user-name">
      <%= gravatar_for(c.user, { size:80 }) %>
      <span class="time-ago">
        <%= time_ago_in_words(c.created_at)%> ago
    </span>
    </li>
    <li class="user-comment">
        <%= c.comment %>
    <li>
  <%end%>
  </ul>
<!-- comment for this post -->
