$grey-charcoal: #2E2E2E;
$standard-line-height: 2em;
$green-grey: #95B5b7;
$greenblue: #709C9E;
$green-green: #5f8241;
$base-black: #151611;
$coral: #FF7F50; 
$archive-link: #187DE2;
$info-color:#6699FF;
$pink:#cd0067;
$blue:#00a2ff;
$grey-search: #666666;
$green-search: #009948;
$search-link-color: #1f65ec;

