@import "normalize";
@import "foundation/settings";
@import "foundation";
@import "post";
@import "navigation";
@import "settings";
@import "variables";
@import "mixins";
img{ max-width:100%; }


body{ background: #000; }
.main-wrapper{ background:#fff; 
  min-height:10em;
  text-align:center;
  margin-top:1em;
}
.center{ 
  margin-left:auto;
  margin-right:auto; 
  text-align:center
}
.mast-head-wrapper{ 
  
}
.menu-wrapper{  
  margin-top:1em;
  padding-left:1.6em;
  padding-right:1.6em;
  
}

.top-bar {
    background: $grey-charcoal;
}

.top-bar-section li a:not(.button) {
    background: $grey-charcoal !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #333333 !important;   
}

.top-bar-section ul li.active > a {
    background: black !important;   
}

.top-bar-section ul li.active > a:hover {
    background: #444444 !important;   
}
