@import "variables";
@import "mixins";
/*  */ 

.image-wrapper{  
  @include border-radius(.5em);
  padding: 1em;
  background:#eee;
}
/* */ 
.main-wrapper{  
  @include border-radius(.5em);
  @include standard-spacing;
  text-align:left;
}
.main-menu{  
  color:white;
  font-size:1.4em;
  @include border-radius(.5em);
  display:inline;
  float:left;
}
.nav-link a{  
  color:#CCC;

}
.nav-link a:hover{  
  color:#222;
}
/* */ 
.post-body{ 
  border-bottom:dotted 1px $green-green ;
}
.comment-container{  
  background:#efe;
  /*
   */
  list-style-type:none;
  color: #666;
  border: solid  #aaa 1px;
  @include border-radius(.5em)
}
.comment-user-name{  
  margin-top: .8em;
}
.time-ago{  
  opacity: .3;
}
.comment-user-name{  
  position: relative;
  left: -4em;
}
.user-comment{  
  position: relative;
  left:1em;
  padding-bottom:1em;
  color:#999;
}

.comment-icon{  
  color:#AAA !important;
  font-size:2em;
}
.post-link a{  
  text-decoration:underline;
  font-style:italic;

}
.comment-form{  
  margin-top:1em;
}
.comment-count{  
  opacity:.8;
  font-style:bold;
  background:#aaa;
  text-align:center;
  @include border-radius(.5em);
  border:solid 1px #222;
  text-align:center;
}
.comment-submit{  
  text-align:center;
}
.search-form{  
  position:relative;
  float:left;
}


.search-form input[type=submit]{  
  background:$pink;
  color:#eee;
  margin-right:1px;
  border:1px solid white;
     -moz-border-radius: 0 1em 1em 0;
      -ms-border-radius: 0 1em 1em 0;
          border-radius: 0 1em 1em 0;
}
.search-form input[type=text]{  
  background:$grey-charcoal;
  border:white 1px solid;
  color:#eee;
  -webkit-border-radius: 0 1em 1em 0;
     -moz-border-radius: 0 1em 1em 0;
      -ms-border-radius: 0 1em 1em 0;
          border-radius: 0 1em 1em 0;
}
.top-links{  
  color:$pink;
  font-size:1.8em;
}
.top-links a{  
  color:$pink;
}

.search-form{ float:right; }
.footer-wrapper{  
  background:$pink;
  min-height:2em;
}
.footer-wrapper{  
  @include border-radius(.5em);
  @include grad($pink, #ff94c9);
  text-align: center;
  margin-bottom: 2em;
  color: #ddd;

}

.footer-menu a{  
  color:#ff94c9;
  font-size:.9rem;
}
.footer-menu a:hover{  
  color:blue;

}
footer-menu a:visited{  
  color:#CCC;
}
.copyright{  
  font-size:.9rem;
}
.about{  
  text-align: center;
}
.copy-right{  
  float: left;
}
