@import "variables";
@import "mixins";

.image-wrapper{  
  @include border-radius(.5em);
  padding: 1em;
  background:#eee;
}
.main-wrapper{  
  @include border-radius(.5em);
  border:3px solid  grey;
  @include standard-spacing;
  line-height: $standard-line-height;
  text-align:left;
}
.main-menu{  
  color:white;
  font-size:2em;
  @include border-radius(.5em);
  background:$grey-charcoal;
}
