
@import "variables";
@import "mixins";

@media( max-width: 360px){ 
    .menu-wrapper{  
    }

    .main-wrapper p.body-wrapper{  
      border-bottom: 1px dotted $grey-charcoal;
      border-top: 1px solid  $grey-charcoal;
      font-size: .8rem;
      line-height:.9rem;
      font-family: arial;
      background:#EEE;
      text-align:left;
      padding:1em ;
      margin:0;
      line-height:1.5em;
    }
    .user-comment{  
      font-size:.8rem;
      margin:1px;
    }
    .time-ago{  
      font-size:.6em;
    }
    .time-ago a{  
      font-size:.7rem;
    }

  .search-form input[type=text]{  
    background:$grey-charcoal;
    border:white 1px solid;
    color:#eee;
    font-size:10px;
    @include border-radius(0px);
  }
  @media screen and (orientation: portrait) {
    img.ri { max-width: 40%; }
  }

  @media screen and (orientation: landscape) {
    img.ri { max-height: 60%; }
  }
  .footer-wrapper a{  
    font-size:.7rem;
  }
  .footer-wrapper { font-size:.6rem;}

  .search-form input[type=submit]{  
    background:$pink;
    color:#eee;
    margin-right:1px;
    height:25px;
    @include border-radius(1px);
  }
  .comment-form{  
    margin-top:.5em;
  }
  .comment-user-name{  
    font-size:.7em;
    left:-1rem;
  }
  .comment-count{  
    
    font-size:.7em;
  }

/* Form here down goes in application to */ 
  .archive-container{  
    font-size:.8em;
    padding:4px;
    background:#EEE;
    @include border-radius(8px);
  }
  .created-at{  
    text-align:center;
    margin-top:1rem;
    font-size: .6rem;
    background:#efe;
    padding:4px 8px 4px 4px;
  }
  .button{  
    background:$pink;
  }
  .time-ago-now{  
    background:#eff;
    font:.7rem italic verdana;
    padding:4px;
    opacity:.5;
  }
  .archive-image{  
    margin-bottom:1rem;
  }
  .search-header a{  
    color: $archive-link;
  }
  .top-links{  
    font-size:.7em;
  }
  .top-links a{  
    color:$pink;
  }
  .top-links a:hover{ color: white; }

}
.top-links a[title]:hover:after{  
  color:white;
  background:black;
  padding:.5em;
  z-index: 1000;
}
/* special styling for phone ends */ 
