
@import "variables";
@import "mixins";

@media( max-width: 360px){ 
    .menu-wrapper{  
      font-size:.5rem;
    }

    .main-wrapper p.body-wrapper{  
      border-bottom: 1px dotted $grey-charcoal;
      border-top: 1px solid  $grey-charcoal;
      font-size: .8rem;
      line-height:.9rem;
      font-family: arial;
      background:#EEE;
      text-align:left;
      padding:0 ;
      margin:0;
    }
    .user-comment{  
      font-size:.8rem;
      padding:2px;
      margin:0;
    }
    .time-ago{  
      font-size:.6em;
    }
    .time-ago a{  
      font-size:.7rem;
    }

  .search-form input[type=text]{  
    background:$grey-charcoal;
    height:25px;
    border:white 1px solid;
    width:12em;
    color:#eee;
    font-size:10px;
    @include border-radius(0px);
  }
  @media screen and (orientation: portrait) {
    img.ri { max-width: 40%; }
  }

  @media screen and (orientation: landscape) {
    img.ri { max-height: 60%; }
  }
  .footer-wrapper a{  
    font-size:.6em;
  }
  .footer-wrapper { font-size:.6rem;}

  .search-form input[type=submit]{  
    background:$coral;
    color:#eee;
    margin-right:1px;
    height:25px;
    @include border-radius(1px);
  }
  .comment-form{  
    margin-top:.5em;
  }
  .comment-user-name{  
    font-size:.7em;
    left:-1rem;
  }
  .comment-count{  
    font-size:.7em;
  }

}
/* special styling for phone ends */ 
