@import "variables";
@import "mixins";
.index-container{  
  padding-top: 1em;
}
.index-list{ 
    list-style:none;
    min-height: 3em;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}
li.index-list{  
  border-bottom:1px dotted grey;
}

