<% if false %>
  post.scss stylesheet
<% end %>
  <span class="counter">
   <%= post_counter  %>.
</span>
<span class="search-header">
    <%= link_razor(post) %>
</span>
    <br>
    <% if post.class == Post %>   
    <span class="search-body">
      <%= truncate_words("#{post.body }", 
      length:20) %>
  </span>
  <%end%>
  <br>
  <span class="search-date">
    <%= time_split(post.created_at) %>
</span>
  <span class="search-date">
</span>
    
