<ul class="small-block-grid-2 index-container">
  <% @posts.each do |post| %>
  <li class="index-list">
      <%= link_to(post.title,"posts/show/#{post.permalink}") %>
  </li>
  <li class="index-list">
      <%= truncate_words(post.body, length:8) %>
  
  </li>


    
  <%end%>
</ul>

