<ul class="small-block-grid-4 index-container">
  <% @posts.each do |post| %>
    <li class="index-list">
      <%= image_tag post.image_url(:thumb) %>
    
    </li>
  <li class="index-list">
      <%= post.title %>
  
  </li>
  <li class="index-list">
      <%= post.body %>
  
  </li>


    
  <%end%>
</ul>

