<div class="row">
  <div class="small-12  about" >
        Welcome to Have Your Dessert. I grew up having a grandma that baked everything from scratch. Amazing pies, cookies, squares and incredible butter tarts.  Basically, I learned that the meal wasn't finished until you had dessert. There was a time when I was younger that I would rather eat dessert than the main course. Can you imagine that? Well, the problem with all that is for the most part, standard, traditional desserts are typically made with processed flour, refined sugar, and unhealthy fats. Having dessert is ok. We all like a sweet treat once in awhile, but if your once in awhile's turn into more often than not's this can add to extra weight and health issues. It is possible to make nutritious desserts that are delicious. Nutrient dense ingredients leave your body feeling satisfied and energized. No sugar rushes, no crashes.Yes, you can Have Your Dessert!
  </div>
</div>

