
<div class = "center image-wrapper">
  <%= image_tag(@post.image) %>
</div>
<p class="center title-wrapper">
<strong>
<u>
<%= @post.title %>
</u>
</strong>
</p>

<p class="center body-wrapper">
 <%= @post.body %>
</p>
