
<div class = "center image-wrapper">
  <%= image_tag(@post.image) %>
</div>
<p class="center title-wrapper">
<h3>
<strong>
<%= @post.title %>
</strong>
</h3>
</p>

<p class="center body-wrapper">
 <%= @post.body %>
</p>
