      <span class="form-group">

        <%form_tag '/search', 
          class:'form-search navbar-form navbar-right search-form', 
          method: 'get'do%>
      <%=text_field_tag :search, value: params[:search] %>
      <button class="btn btn-default" type="submit"><i class="fi-search"></i></button>
      </span>
  <%end%>
